.newpostContainer {
    display: flex;
    flex-direction: column;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.titleInput {
    font-size: larger;
    font-weight: 500;
    color: #2e2e31;
}

.body {
    font-size: large;
    font-weight: 400;
    color: #4b4b4d;
}

.titleInput, .body {
    padding: 10px 15px;
    border-radius: 0%;
    border: 1px solid black;
}

.actionButtons {
    /* display: flex; */
    /* justify-content: end; */
}
